[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "==3.12.2"
stripe = "==2.56.0"
django-rest-auth = {version = "==0.9.5", extras = ["with_social"]}
django-cors-headers = "==3.7.0"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
start = "python manage.py runserver 127.0.0.1:8001"
makemigrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"
collectstatic = "python manage.py collectstatic"
createsuperuser = "python manage.py createsuperuser"
shell = "python manage.py shell"
